nav{
    background-color: lightblue;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
.nav-left{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.nav-right{
    display: flex;
    flex-direction: row;
}
ul{
    margin: 0px;
}
a:hover{
    background-color: rgb(144, 181, 194);
    transition: 0.3s;
    padding: 10px 10px;
}
a, li{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}
.active{
    background-color: rgb(144, 183, 196);
}