<div class="form-container">
    <form class="form" (ngSubmit)="register()" #registrationForm="ngForm">
        <h2>Registration From</h2>
        <div class="column">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <input type="firstName" name="firstName" id="firstName" placeholder="First Name" ngModel required #fname="ngModel">
                        <span *ngIf="fname.invalid && fname.dirty">*Enter your First Name </span>
                    </div>
                    <div class="column">
                        <input type="lastName" name="lastName" id="lastName" placeholder="Last Name" ngModel required #lname = "ngModel">
                        <span *ngIf="lname.invalid && lname.dirty">*Enter your Last Name </span>
                    </div>
                </div>
                <div class="column">
                    <input type="email" name="email" placeholder="Enter Email" ngModel required email>
                </div>
            </div>

            <div class="column">
                <div class="column">
                    <div>
                        Profession
                        <input type="radio" name="Profession" value="Staff" id="Staff" [(ngModel)]="profession">
                        <label for="Staff">Staff</label>
                        <input type="radio" name="Profession" value="Student" id="Student" [(ngModel)]="profession">
                        <label for="Student">Student</label>
                    </div>
                </div>
                <div *ngIf="profession == 'Student' " class="column">
                    <div class="row">
                        <div class="column">
                            <input type="firstName" name="collegeName" id="collegeName" placeholder="College Name" ngModel required #collegeName = "ngModel">
                        </div>
                        <div class="column">
                            <input type="lastName" name="courseName" id="courseName" placeholder="Course Name" ngModel required #courseName = "ngModel">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="text" name="address" id="address" placeholder="Address" ngModel>
                </div>
                
                <div class="column" ngModelGroup="more-details">
                    <div class="row">
                        <div class="column">
                            <select name="country" ngModel>
                                <option hidden value="">Country</option>
                                <option value="india">India</option>
                                <option value="australia">Australia</option>
                                <option value="england">England</option>
                            </select>
                        </div>
                        <div class="column">
                            <input type="text" placeholder="State" name="State" id="State" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <input type="text" name="district" id="" placeholder="District" ngModel>
                        </div>
                        <div class="column">
                            <input type="number" id="" placeholder="Pin Code" name="pincode" ngModel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit"
                    [ngStyle]="{'cursor' : registrationForm.invalid ? 'not-allowed' : 'pointer'}">Submit</button>
            </div>
        </div>
    </form>
</div>