.form-container{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 60px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
}
.row :nth-child(1){
    flex: 1;
}
.column{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.column :nth-child(1){
    flex: 1;
}
input, button, select{
    padding: 10px 20px;

}
::placeholder{
    color: rgb(105, 90, 62);
}
button{
    color: white;
    background-color: orange;
    border: white solid 1px;
}
h2{
    color: orange;
    font-weight: bold;
}
label{
    color: rgb(170, 111, 1);
}
option{
    color: rgb(170, 111, 1);
    border-radius: 10px;
    background-color: white;
}
option:hover{
    background-color: rgb(223, 180, 100);
    color: black;
}
input:focus{
    outline:none;
}
button:hover{
    background-color: rgb(255, 102, 0);
    transition: 0.3s;
}
input.ng-invalid.ng-touched{
    box-shadow: 0 0 5px rgb(104, 76, 24);
    outline: none;
    border: orange solid 1px;
}
input.ng-untouched, input.ng-valid, select.ng-untouched{
    border: orange solid 1px;
    outline: none;
}
select{
    background-color: white;
    color: rgb(146, 114, 66);
}