<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Contact</li>
        </ul>
        <button (click)="login()">
            Login
        </button>
    </nav>
    <div>
        <form action="" (ngSubmit)="register()" #validationForm="ngForm">
            <div class="form-title">
                <div>
                    <h3>Registration</h3>
                </div>
                <img src="assets\close.png" alt="close">
            </div>
            <input type="text" name="UserName" placeholder="Enter the User Name" ngModel>

            <input type="password" name="password" placeholder="Enter the Password" pattern="(?=.*[a-z])(?=.*[A-Z]).*"
                minlength="8" ngModel #password="ngModel" [ngClass]="{ 'invalid-input':password.invalid}">

            <span *ngIf="password.value.length < 8 && password.touched && password.dirty"> *Password must have minimum 8
                character</span>

            <input type="password" name="confirmPassword" placeholder="Confirm Password" ngModel
                #confirmPassword="ngModel"
                [ngClass]="{'invalid-input' : password.value != confirmPassword.value && confirmPassword.touched }">

            <span *ngIf="password.value != confirmPassword.value && confirmPassword.touched"> *Password doesn't
                match</span>
            <button type="submit" [disabled]="validationForm.invalid"
                [ngStyle]="{'cursor': validationForm.invalid ? 'not-allowed' : 'default'}">Register</button>

        </form>
    </div>
    <div [ngClass]="{'dimmed-layer':showLogin}"></div>
</body>

</html>