<div class="head" id="head">
    <div class="head-left">
        <img src="assets\images\menu.png" alt="" style="height: 25px;" id="menu" (click)="showSidebar()">
        <img src="assets\images\youtube.png" alt="" id="youtube">
    </div>
    <div class="head-center">
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <div class="search-img-container">
                <img src="assets\images\search.png" alt="">
            </div>
        </div>
        <div class="mic-container">
            <img src="assets\images\mic.png" alt="" id="mic">
        </div>
    </div>
    <div class="head-right">
        <img src="assets\images\video.png" alt="" id="video">
        <img src="assets\images\notification.png" alt="" id="notification">
        <img src="assets\images\profile.png" alt="" style="height: 30px;">
    </div>
</div>
<div class="sidebar out" id="sidebar">
    <div class="sidebar-head">
        <img src="assets\images\menu.png" alt="menu" id="menu" style="height: 25px;" id="menu" (click)="showSidebar()">
        <img src="assets\images\youtube.png" alt="">
    </div>
    <div>
        <div class="links-container">
            <div class="link">
                <img src="assets\images\home.png" alt="">
                <a href="">Home</a>
            </div>
            <div class="link">
                <img src="assets\images\shorts.png" alt="">
                <a href="">Shorts</a>
            </div>
            <div class="link">
                <img src="assets\images\crown.png" alt="">
                <a href="">Subscription</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="links-container">
            <div class="small-headings link">
                <a href=""><b>You</b></a>
                <img src="assets\images\right.png" alt="">
            </div>
            <div class="link">
                <img src="assets\images\history.png" alt="">
                <a href="">History</a>
            </div>
            <div class="link">
                <img src="assets\images\clock.png" alt="">
                <a href="">Watch Later</a>
            </div>
            <div class="link">
                <img src="assets\images\playlist.png" alt="">
                <a href="">PlayList</a>
            </div>
            <div class="link">
                <img src="assets\images\like.png" alt="">
                <a href="">Liked Videos</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="links-container">
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">History</a>
            </div>
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">Watch Later</a>
            </div>
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">PlayList</a>
            </div>
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">Liked Videos</a>
            </div>
        </div>
        <div class="line"></div>
        <div class="links-container">
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">History</a>
            </div>
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">Watch Later</a>
            </div>
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">PlayList</a>
            </div>
            <div class="link">
                <img src="assets\images\mic.png" alt="">
                <a href="">Liked Videos</a>
            </div>
        </div>
    </div>
</div>
<div class="main-content-container" id="main-content-container">
    <div class="playing-content">
        <div class="playing-content-img">
            <img src="assets\images\content.png" alt="" id="content">
        </div>
        <div class="content-description">
            <div class="content-description-top">
                #01 Introduction to Angular | Getting Started with Angular | A complete Angular Course
            </div>
            <div class="content-description-bottom">
                <div class="content-description-bottom-left">
                    <div class="subscribe">
                        <img src="assets\images\code.png" alt="">
                    </div>
                    <div class="subscribe-details">
                        <small class="small-headings"> proacademy</small>
                        <small> 57.4k subscribers</small>
                    </div>
                    <button class="join-button">Join</button>
                    <div class="description-button">
                        <img src="assets\images\shorts.png" alt="">
                        <button>
                            <select name="" class="subscription-dropdown">
                                <option value="">Subscribe</option>
                                <option value="">All</option>
                                <option value="">None</option>
                                <option value="">Personalized</option>
                                <option value="">unsubscribe</option>
                            </select>
                        </button>
                    </div>
                </div>
                <div class="content-description-bottom-right">
                    <div class="description-button">
                        <img src="assets\images\like.png" alt="">
                        <button>2.2k</button>
                        <img src="assets\images\like.png" alt="">
                    </div>
                    <div class="description-button">
                        <img src="assets\images\shorts.png" alt="">
                        <button>Share</button>
                    </div>
                    <div class="description-button">
                        <img src="assets\images\shorts.png" alt="">
                        <button>Download</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>