<div class="nav-container">
    <nav>
        <div class="nav-left">
            <img src="assets/images/lap-icon.png" alt="icon">
            <h2 style="color: white; font-family: 'Times New Roman', Times, serif;">Ryzen</h2>
        </div>
        <div class="nav-right">
            <a href="">Home</a>
            <a [routerLink]="'/product'">Products</a>
            <a href="">About</a>
        </div>
    </nav>
    <div class="nav-content">
        <h1>World's Largest Online Tech Mart</h1>
        <div class="slider-container">
            <div class="slider-left">Buy Top Laptops in </div>
            <div class="slider">
                <div>DELL</div>
                <div>ASUS</div>
                <div>HP</div>
                <div>VIVO-BOOK</div>
            </div>
        </div>
        <br>
        <button [routerLink]="'/product'">Buy Laptops</button>
        <p>Purchase your first Laptop Now!</p>
    </div>
</div>
<div class="content-container">

</div>