nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0px 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    flex: 1;
}
nav li{
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px 15px;
    position: relative;
}
nav li:hover{
    cursor: pointer;
}
nav li::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 15%;
    left: 15%;
    background-color: yellow;
}
nav li:hover::after{
   animation: underline 0.5s forwards ease;
   cursor: pointer;
}
@keyframes underline {
    0%{
        width: 1px;
    }
    100%{
        width: 70%;
    }
}
nav button{
    background-color: rgb(233, 229, 11);
    color: rgb(5, 5, 5);
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 400px;
    row-gap: 20px;
    border: 1px solid grey;
    padding: 30px 10px;
    border-radius: 10px;
    z-index: 4;
    background-color: rgb(226, 226, 220);
    align-items: center;
}
.form-title > div > h3{
    margin: 0px;
    color: black;
}
input{
    width: 80%;
    height: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(206, 183, 183);
    border: none;
}
form > ::placeholder{
    color: rgb(0, 0, 0);
}
form >div > button{
    width: 100%;
    height: 40px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 10px;
    justify-content: center;
}
.dimmed-layer{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}
.invalid-input{
    box-shadow: 1px 1px 4px rgb(124, 3, 3);
    background-color: red;
}
span{
    color: red;
    font-size: 14px;
}
.form-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-title > img{
    height: 15px;
    position: absolute;
    right: 10%;
}
#newUser-button{
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: blue;
}
.log-option-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(228, 222, 222);
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    z-index: 4;
}
.log-option-container div{
    place-self: center;
}
.log-option-container div button{
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    margin: 10px;
}
#yes-button{
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    border: none;
    background-color: green;   
}
#no-button{
    background-color: blue;
}
a{
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.otp-container{
    gap: 10px;
    align-items: center;
}
.otp-container img{
    height: 10px;
    position: absolute;
    right: 2%;
    top: 5%;
}