body{
    font-size: 20px;
    color: white;
}
.left-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}
.search-bar{
    height: auto;
}
.search-bar input{
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    padding: 0px 10px;
    background-color: rgb(54, 49, 49);
    color: white;
}
.search-bar input:focus, .search-bar input:hover{
    border: solid 1px rgb(146, 141, 120);
    outline: none;
}
.search-bar p{
    color: white;
}

.card-container {

    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#card-1{
    background: linear-gradient(to right, #42a1e0, #026fbd);
}
#card-2{
    background: linear-gradient(to right, #3a7921, #1d6102);
}
#card-3{
    background: linear-gradient(to right, #432179, #3b0261);
}
.card-img {
    position: relative;
}

.card-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-image: url("D:/project_repository/angular_projects/demo_project/src/assets/images/data_structure.png");
    */background-position: right;
    background-repeat: no-repeat;
    background-size: 120px;
    opacity: 0.5;
    z-index: -1;
}

.heading {
    position: relative;
    font-size: 1em;
    background-clip: text;
    color: white;
    line-height: 35px;
    align-content: center;
}

.heading p, .heading h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.heading p {
    font-size: .7em;
}

.card-img button {
    align-content: center;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: .72em;
    font-weight: 500;
    max-height: 30px;
    max-width: 100%;
    z-index: 10;
}
.card-img button:hover{
    cursor: pointer;
}

.active button{
    background-color: rgb(219, 219, 226);
    color: black;
}
.study-plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
    padding: 0px 10px;
}
.study-plan p{
    cursor: pointer;
}
.study-plan :nth-child(1){
    flex-grow: 1;
    font-size: 26px;
}
.study-plan button{
    background-color: inherit;
    border: none;
    color: white;
    cursor: pointer;
}
.course-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 25px;
}
.course-card{
    display: flex;
    display: hidden;
    flex-direction: row;
    padding: 0px 10px;
    background-color: rgb(46, 40, 40);
    justify-content: center;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.93em;
    height: 120px;
    transition: 0.3s ease;
}
.course-img{
    height: 50%;
    align-content: center;
    width: 20%;
    padding: 10px;
    border-radius: 3px;
}
.course-img img{
    height: 100%;
    border-radius: 3px;
}
.course-details{
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    flex: 1;
}
.course-details p{
    font-size: .85em;
}
.course-card:hover{
    background-color: rgb(58, 53, 53);
    transition: 0.3s ease;
}
.description-container{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 40px 20px;
    background-color: rgb(30, 32, 34);
    align-items: center;
    border-radius: 10px;
}
.description-link{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    gap: 20px;
    width: 100%;
    background-color: rgb(20, 21, 22);
}
.description-link li:hover{
    opacity: 1;
    text-decoration: underline;
    text-underline-offset: 10px;
    cursor: pointer;
}
.description-link a:active + .description-card p{
    transition: 0.3s ease-in;
}
.description-card p{
    text-align: justify;
    transition: ease-in 3s;
}