<body>

    <div class="left-container">
        <div class="search-bar">
            <input type="search" placeholder="Enter a course" [(ngModel)]="searchedValues">
            <p *ngIf="searchedValues != ''">Suggestions : {{searchedValues}}</p>
        </div>
        <div class="card-container">
            <div class="card" *ngFor="let i of allCourses" id="card-{{i.id+1}}">
                <div class="card-img" [ngClass]="{ 'active' : courses[i.id].status}">
                    <div class="heading">
                        <h3>LeetCode's Interview <br>Crash Course:</h3>
                        <p>{{i.name}}</p>
                    </div>
                    <button (click)="registerCourse(i.id)">{{ i.value }}</button>
                </div>
            </div>
        </div>
        <div class="study-plan">
            <p>Study Plan</p>
            <p><button (click)="onclick()">See all Courses</button></p>
        </div>
        <div class="course-container" *ngIf="display">
            <div class="course-card">
                <div class="course-img" id="image1">
                    <img src="assets/images/top.png" alt="">
                </div>
                <div class="course-details">
                    <b>{{title}}</b>
                    <p>Must-to List for...</p>
                </div>
            </div>
            <div class="course-card">
                <div class="course-img">
                    <img src="assets/images/target.png" alt="" id="image2">
                </div>
                <div class="course-details">
                    <b>LeetCode 75</b>
                    <p>Ace coding Interview...</p>
                </div>
            </div>

            <div class="course-card">
                <div class="course-img">
                    <img src="assets/images/sql.png" alt="" id="image3">
                </div>
                <div class="course-details">
                    <b>Top Interview Questions</b>
                    <p>Must-to List for...</p>
                </div>
            </div>
            <div class="course-card">
                <div class="course-img">
                    <img src="assets/images/target.png" alt="" id="image2">
                </div>
                <div class="course-details">
                    <b>LeetCode 75</b>
                    <p>Ace coding Interview...</p>
                </div>
            </div>
            <div class="course-card">
                <div class="course-img">
                    <img src="assets/images/sql.png" alt="" id="image3">
                </div>
                <div class="course-details">
                    <b>Top Interview Questions</b>
                    <p>Must-to List for...</p>
                </div>
            </div>
            <div class="course-card">
                <div class="course-img">
                    <img src="assets/images/top.png" alt="" id="image3">
                </div>
                <div class="course-details">
                    <b>Top Interview Questions</b>
                    <p>Must-to List for...</p>
                </div>
            </div>
        </div>
        <div [ngSwitch]="change" class="description-container">
            <h2>Course Details</h2>
            <div class="description-link">
                <li><a (click)="changeView('java')">Java</a></li>
                <li><a (click)="changeView('python')">Python</a></li>
                <li><a (click)="changeView('js')">Java Script</a></li>
                <li><a (click)="changeView('sql')">SQL</a></li>
            </div><br>
            <div *ngSwitchDefault class="description-card">
                <p>
                    A high-level, object-oriented programming language used for building cross-platform
                    applications, known for its portability, strong typing, and extensive libraries.
                </p>
            </div>
            <div *ngSwitchCase="'python'" class="description-card">
                <p>
                    An interpreted, versatile language with readable syntax, widely used in web development, data
                    science, and automation due to its ease of use and comprehensive libraries.
                </p>
            </div>
            <div *ngSwitchCase="'js'" class="description-card">
                <p>
                    A lightweight, dynamic scripting language primarily used for client-side web development to
                    create interactive user interfaces, but also applicable for server-side programming.
                </p>
            </div>
            <div *ngSwitchCase="'sql'" class="description-card">
                <p>A domain-specific language designed for managing and querying relational databases, enabling
                    operations like data retrieval, insertion, and updates using structured queries.</p>
            </div>
        </div>
    </div>
</body>