<div class="right-container">
    <div class="right-container-1">
        <div class="calender">
            <div class="day">
                <pre>Day 4 </pre>
                <pre><  </pre>
                <pre>></pre>
            </div>
            <div class="dates">
                <span>1</span> <span>2</span> <span>3</span> <span>4</span> <span>5</span> <span>6</span>
                <span>7</span> <span>8</span> <span>9</span> <span>10</span>
                <span>11</span> <span>12</span> <span>13</span> <span>14</span> <span>15</span> <span>16</span>
                <span>17</span> <span>18</span> <span>19</span> <span>20</span>
                <span>21</span> <span>22</span> <span>23</span> <span>24</span> <span>25</span> <span>26</span>
                <span>27</span> <span>28</span> <span>29</span> <span>30</span>
                <span>31</span>
            </div>
        </div>
        <div class="premium">
            <i>Weekly premium <br>
                One day left
                <div>
                    <span>W1</span>
                    <span>W2</span>
                    <span>W3</span>
                    <span>W4</span>
                </div>
            </i>
        </div>
        <div class="right-container-1-bottom">
            <div class="right-container-1-bottom-left">
                <img src="assets/images/diamond.png" alt="">
                0 Redeem
            </div>
            <div class="right-container-1-bottom-right">Rules</div>
        </div>
    </div>
</div>