<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leet Code</title>
</head>

<body>
    <nav>
        <div class="nav-left">
            <img src={{codingImage}} alt="">
            <li><a href="">Explore</a></li>
            <li class="active"><a href="">Problems</a></li>
            <li><a href="">Contest</a></li>
            <li><a href="">Discuss</a></li>
            <li><a href="">Interview</a></li>
            <img src="assets/images/arrow.png" alt="">
            <li><a href="" style="color:rgb(248, 162, 2); opacity: 1;">Store</a></li>
            <img src="assets/images/arrow.png" alt="">
        </div>
        <div class="nav-right">
            <img src="assets/images/bell.png" alt="bell">
            <img src="assets/images/fire.png" alt="fire">
            <p style="margin-left: 5px;">0</p>
            <img src="assets/images/profile.png" alt="profile">
            <button><i>Premium</i></button>
        </div>
    </nav>
    <div class="container">
        <div class="left-container">
            <div class="search-bar">
                <input type="search" placeholder="Enter a course" [(ngModel)]="searchedValues">
                <p *ngIf="searchedValues != ''">Suggestions : {{searchedValues}}</p>
            </div>
            <div class="card-container">
                <div class="card" id="card-1">
                    <div class="card-img" [ngClass]="{'active' : courses[0].status}">
                        <div class="heading">
                            <h3>LeetCode's Interview <br>Crash Course:</h3>
                            <p>Data Structure and Algorithm</p>
                        </div>
                        <button (click)="registerCourse(courses[0].id)">{{courses[0].value}}</button>
                    </div>
                </div>
                <div class="card" id="card-2">
                    <div class="card-img" [ngClass]="{'active' : courses[1].status}">
                        <div class="heading">
                            <h3>LeetCode's Interview <br>Crash Course:</h3>
                            <p>Java Programmimg Essenials</p>
                        </div>
                        <button (click)="registerCourse(courses[1].id)">{{courses[1].value}}</button>
                    </div>
                </div>
                <div class="card" id="card-3">
                    <div class="card-img" [ngClass]="{'active' : courses[2].status}">
                        <div class="heading">
                            <h3>LeetCode's Interview <br>Crash Course:</h3>
                            <p>Python Programming</p>
                        </div>
                        <button (click)="registerCourse(courses[2].id)">{{courses[2].value}}</button>
                    </div>
                </div>
            </div>
            <div class="study-plan">
                <p>Study Plan</p>
                <p><button (click)="onclick()">See all Courses</button></p>
            </div>
            <div class="course-container" *ngIf="display">
                <div class="course-card">
                    <div class="course-img" id="image1">
                        <img src="assets/images/top.png" alt="">
                    </div>
                    <div class="course-details">
                        <b>{{title}}</b>
                        <p>Must-to List for...</p>
                    </div>
                </div>
                <div class="course-card">
                    <div class="course-img">
                        <img src="assets/images/target.png" alt="" id="image2">
                    </div>
                    <div class="course-details">
                        <b>LeetCode 75</b>
                        <p>Ace coding Interview...</p>
                    </div>
                </div>

                <div class="course-card">
                    <div class="course-img">
                        <img src="assets/images/sql.png" alt="" id="image3">
                    </div>
                    <div class="course-details">
                        <b>Top Interview Questions</b>
                        <p>Must-to List for...</p>
                    </div>
                </div>
                <div class="course-card">
                    <div class="course-img">
                        <img src="assets/images/target.png" alt="" id="image2">
                    </div>
                    <div class="course-details">
                        <b>LeetCode 75</b>
                        <p>Ace coding Interview...</p>
                    </div>
                </div>
                <div class="course-card">
                    <div class="course-img">
                        <img src="assets/images/sql.png" alt="" id="image3">
                    </div>
                    <div class="course-details">
                        <b>Top Interview Questions</b>
                        <p>Must-to List for...</p>
                    </div>
                </div>
                <div class="course-card">
                    <div class="course-img">
                        <img src="assets/images/top.png" alt="" id="image3">
                    </div>
                    <div class="course-details">
                        <b>Top Interview Questions</b>
                        <p>Must-to List for...</p>
                    </div>
                </div>
            </div>
            <div [ngSwitch]="change" class="description-container">
                <h2>Course Details</h2>
                <div class="description-link">
                    <li><a (click)="changeView('java')">Java</a></li>
                    <li><a (click)="changeView('python')">Python</a></li>
                    <li><a (click)="changeView('js')">Java Script</a></li>
                    <li><a (click)="changeView('sql')">SQL</a></li>
                </div><br>
                <div *ngSwitchDefault class="description-card">
                    <p>
                        A high-level, object-oriented programming language used for building cross-platform
                        applications, known for its portability, strong typing, and extensive libraries.
                    </p>
                </div>
                <div *ngSwitchCase="'python'" class="description-card">
                    <p>
                        An interpreted, versatile language with readable syntax, widely used in web development, data
                        science, and automation due to its ease of use and comprehensive libraries.
                    </p>
                </div>
                <div *ngSwitchCase="'js'" class="description-card">
                    <p>
                        A lightweight, dynamic scripting language primarily used for client-side web development to
                        create interactive user interfaces, but also applicable for server-side programming.
                    </p>
                </div>
                <div *ngSwitchCase="'sql'" class="description-card">
                    <p>A domain-specific language designed for managing and querying relational databases, enabling
                        operations like data retrieval, insertion, and updates using structured queries.</p>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="right-container-1">
                <div class="calender">
                    <div class="day">
                        <pre>Day 4 </pre>
                        <pre><  </pre>
                        <pre>></pre>
                    </div>
                    <div class="dates">
                        <span></span>
                        <span></span>
                        <span>1</span> <span>2</span> <span>3</span> <span>4</span> <span>5</span> <span>6</span>
                        <span>7</span> <span>8</span> <span>9</span> <span>10</span>
                        <span>11</span> <span>12</span> <span>13</span> <span>14</span> <span>15</span> <span>16</span>
                        <span>17</span> <span>18</span> <span>19</span> <span>20</span>
                        <span>21</span> <span>22</span> <span>23</span> <span>24</span> <span>25</span> <span>26</span>
                        <span>27</span> <span>28</span> <span>29</span> <span>30</span>
                        <span>31</span>
                    </div>
                </div>
                <div class="premium">
                    <i>Weekly premium <br>
                        One day left
                        <div>
                            <span>W1</span>
                            <span>W2</span>
                            <span>W3</span>
                            <span>W4</span>
                        </div>
                    </i>
                </div>
                <div class="right-container-1-bottom">
                    <div class="right-container-1-bottom-left">
                        <img src="assets/images/diamond.png" alt="">
                        0 Redeem
                    </div>
                    <div class="right-container-1-bottom-right">Rules</div>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <footer>
        <p>Copyright © 2024 LeetCode
            Help Center
            Jobs
            Bug Bounty
            Online Interview
            Students
            Terms
            Privacy Policy</p>
    </footer>
</body>

</html>