<div class="filter-bar">
    <label for="">Select your Price Range : </label>
    <select name="prices" [(ngModel)]="selectedPrice">
        <option selected disabled value="">Select Price</option>
        <option value="15000"> > 15000 </option>
        <option value="40000" > > 40000 </option>
        <option value="70000" > > 70000 </option>
    </select>
</div>
<div class="container">
    <ng-container *ngFor="let product of laptop | PriceFilter : selectedPrice ">
        <div class="card">
            <div class="card-img">
                <img [src]="product.imgLoc" alt="" id="laptop-img">
                <div class="card-offer" *ngIf="product.discountPercentage">
                    <h4 style="margin: 0px;"> offer {{product.discountPercentage}}</h4>
                    <img src="assets\images\price.png" alt="">
                </div>
            </div>
            <div class="card-details">
                <h1 style="margin: 0px;">{{product.name}}</h1>

                <p *ngIf="product.discountPercentage; else noDiscount;"> <b>Price : </b> <s>{{product.price | currency
                        :"INR" : true : "2.0-2"}} </s>  {{ product.price - product.price * product.discount | currency :
                    "INR"}}</p>
                <ng-template #noDiscount>
                    <p>
                        <b>Price : </b> {{product.price | currency : "INR" : true : "2.0-2"}}
                    </p>
                </ng-template>
                <div *ngIf="product.stockAvailable">
                    Stock Available after : {{product.stockAvailable | date }}
                </div>
                <br>
                <div class="button-class">
                    <button>View Details</button>
                    <button>Order</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>