.filter-bar{
    background-color: rgb(212, 174, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
select{
    border-radius: 5px;
    width: 50%;
    height: 25px;
    outline: none;
}
select:focus{
    border: blue 1px solid;
    box-shadow: 0px 0px 5px rgb(152, 152, 163);
}
.container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: stretch;
}
.card{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid;
}
.card-offer{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #8FD14F;
    padding: 5px 15px;
    border-top-left-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom-right-radius: 15px;
}
.card-offer img{
    width: 20px;

}
.card-img{
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    flex: 1;
}
#laptop-img{
    mix-blend-mode: color-burn;
    height: 200px;
}
.card-details{
    background-color:#FAB12F;
    padding: 10px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-bottom: 0px;
    height: 40%;
}
button{
    background-color:#FA4032;
    color: white;
    padding: 10px 20px;
    border: none;
}
.button-class{
    display: flex;
    gap: 10px;
}