<div class="radio-outer">
    <div class="radio-container">
        <input type="radio" id="all" value = "all" [(ngModel)]="selectedRadioButton" (change)="onChangeSelectedRadioButton()">
        <label for="all">All</label>
        <input type="radio" id="java" value="java" [(ngModel)]="selectedRadioButton" (change)="onChangeSelectedRadioButton()">
        <label for="java">Java</label>
        <input type="radio" id="python" value="python" [(ngModel)]="selectedRadioButton" (change)="onChangeSelectedRadioButton()">
        <label for="python">Python</label>
    </div>
</div>