.container{
    background-color: rgb(201, 197, 191);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: row;
    background-color: rgb(139, 139, 184);
    padding: 20px;
    border-radius: 10px;
    width: 25%;
}
.card-details{
    display: flex;
    flex-direction: column;
}
.card-img{
    height: 200px;
}
.card-img img{
    height: 70%;
}