<nav>
    <div class="nav-left">
        <img src={{codingImage}} alt="">
        <li><a href="">Explore</a></li>
        <li class="active"><a href="">Problems</a></li>
        <li><a href="">Contest</a></li>
        <li><a href="">Discuss</a></li>
        <li><a href="">Interview</a></li>
        <img src="assets/images/arrow.png" alt="">
        <li><a href="" style="color:rgb(248, 162, 2); opacity: 1;">Store</a></li>
        <img src="assets/images/arrow.png" alt="">
    </div>
    <div class="nav-right">
        <img src="assets/images/bell.png" alt="bell">
        <img src="assets/images/fire.png" alt="fire">
        <p style="margin-left: 5px;">0</p>
        <img src="assets/images/profile.png" alt="profile">
        <button><i>Premium</i></button>
    </div>
</nav>