.main-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    min-height: 100vh;
    flex-grow: 1;
    height: auto;
}
.product-description{
    text-align: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
form{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    border: solid black 1px;
    padding: 15px;
    box-shadow: 0px 0px 3px blue;
    background-color: rgb(215, 224, 231);
}
form h2{
    margin: 0px;
}
#search-product{
    border-radius: 5px;
    padding: 5px;
    border: rgb(214, 205, 205) solid 1px;
    width: 250px;
}
#search-product:focus{
    outline: none;
    box-shadow: 0px 0px 2px rgb(55, 0, 255);
}
form > input{
    width: 80%;
    padding: 5px;
    border: none;
    background-color: rgb(237, 242, 245);
    height: 30px;
    margin-top: 15px;
}
form > input:focus{
    box-shadow: 0 0 3px blue;
    outline: none;
}
.buttons-container{
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.buttons-container button{
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}
.buttons-container :nth-child(1){
    background-color: blue;
}
.buttons-container :nth-child(2){
    background-color: green;
}
.invalid-values{
    color: red;
}
.products-container{
    margin: 40px;
}
table{
    border-collapse: collapse;
    background-color: rgb(207, 210, 211);
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px;
}
table tr, td, th {
    padding: 10px 15px;
}
table tr:nth-child(odd){
    background-color: rgb(189, 189, 194);
}
table tr:nth-child(even){
    background-color: rgb(179, 179, 189);
}
table thead{
    background-color: rgb(218, 206, 206);
}
.discount-row{
    background-color: rgb(218, 221, 224);
}
.show-options{
    position :absolute;
    top : 85%;
    left : 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-color: lightblue;
    padding: 25px;
    border-radius: 5px;
}
.option-buttons{
    display: flex;
    gap: 10px;
}
.option-buttons button{
    border: none;
    padding: 5px 10px;
}
.option-buttons :nth-child(1){
    background-color: rgb(232, 248, 0);
}
.option-buttons :nth-child(2){
    background-color: rgb(212, 152, 41);
}
.dimming-effect{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0,0.5);
}
#deleteButton{
    background-color: red;
    display: flex;
    gap: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
.marquee{
    background-color: rgb(231, 231, 231);
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    animation: linear 10s ease;
}
.marquee:hover{
    animation-play-state: paused;
    cursor: pointer;
}