/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px;
    margin: 0px;
}
html{
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    scroll-behavior: smooth;
}